<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css "/>.
    <link rel="stylesheet" href="/css/style.css">
    <title>Klond Chioce</title>
    
<body>
    
    <section id="footer">
        <div class="row">
          <div class="col-lg-4">
            <h3 class="features-title">Contact</h3>
            <p><img src="/img/facebook.png" alt=""> : Klond Chioce</p>
            <p><img src="/img/ig.png" alt=""> : Klond_Chioce</p>
            <p><img src="/img/phone.png" alt=""> : 099-9999999</p>
          </div>
          <div class="col-lg-4">
            <h3 class="features-title">Open Hours</h3>
            <b>EVERYDAY OPEN </b>
            <p></p>
             <p> MON - FRI : 4pm - 10.30pm</p>
             <p> SAT - SUN : 4 pm - 11.00 pm</p>
              
          </div>
          <div class="col-lg-4 camt">
            <img src="/img/camt.jpg" alt="">
            </div>
        </div>
      </section>
      <script src="/js/main.js"></script>
</body>
</html>