<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klond Choice</title>
    <link rel="icon" href="/img/logo.png" type="image/icon type" />
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item ">
               <a href="/Home"><img src="/img/logo.png" alt=""></a>
            </li>
          </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/Home">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Menu">Menu</a>
              </li> -->
            </ul>
              <!-- <li class="nav-item navbar-nav ">
                <a class="nav-link fas fa-shopping-cart cart" href="/cartnew"></a>
              </li> -->
              
              <li class="nav-item login  navbar-nav ">
                <a class="nav-link info" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"> Login</i></a>
              </li>
          </div>
        </div>
      </nav> 
</body>
</html>