<% Object.keys(messages).forEach(fuction (type) { %>
    <div class="alert alert-<%= type %>">
        <% messages[type].forEach(function (messages) { %>
            <%= messages %>
        <% }) %>
    </div>
<% }) %>